@model IEnumerable<EmployeeMVC.Models.LoginDetails>

@{
    ViewData["Title"] = "Index";
}



<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Användarnamn
            </th>
            <th>
                Lösenord
            </th>

            <th>
                Behörighetsnivå
            </th>
            <th>
                AnvändareID
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccessLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Ändra</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detaljer</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Radera</a>
            </td>
        </tr>
}
    </tbody>
</table>
